<!doctype>
<head>
	{#  Import styles #}
	<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/graph.css">
	<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/detail.css">
	<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/legend.css">
	<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/examples/css/lines.css">
</head>
<body>

{# Placeholder for the API explorer where plots are placed #}
<div id="chart_container">
	<div id="chart"></div>
	<div id="legend_container">
		<div id="smoother" title="Smoothing"></div>
		<div id="legend"></div>
	</div>
	<div id="slider"></div>
</div>

{# Form for the explorer #}
<h1>Dash API Explorer</h1>
<p><input type=text size=20 name=api placeholder="API">
<p><input type=text size=20 name=query placeholder="Query">
<p><input type=text size=20 name=product placeholder="Product">
<p><input type=text size=20 name=version placeholder="Version">
<p><input type=text size=20 name=data placeholder="Data">
<p><a href=# id=calculate>Send Request</a>


{# Import js files #}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://code.shutterstock.com/rickshaw/vendor/d3.v3.js"></script>
<script src="http://code.shutterstock.com/rickshaw/rickshaw.js"></script>
<script src="plot_graph.js"></script>

{# AJAX request to the server #}
<script type=text/javascript>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	$(function() {
	$('a#calculate').bind('click', function() {
	  $.post($SCRIPT_ROOT + '/_get_data', {
	    source: $('input[name="api"]').val(),
	    query: $('input[name="query"]').val(),
	    product: $('input[name="product"]').val(),
	    version: $('input[name="version"]').val(),
	  }, function(data) {
	    // $("#result").text(data.result);
	    var series_data = data.series_data;
	    var request_params = data.request_params;
	    var id = "chart";
	    graph_data(series_data,request_params,id);
	  });
	  return false;
	});
	});
</script>

</body>
